<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEHEHE</title>
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href=<%= pageCSS %>>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="#"><img src="images/logo.jpg" alt="Cute logo"></a></div></div>
        <ul class="menu">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Thể loại</a></li>
            <li><a href="#">Season</a></li>
        </ul>
    </nav>
    <main>