<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEHEHE</title>
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/<%= pageCss %>">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="#"><img src="images/logo.jpg" alt="Cute logo"></a></div></div>
        <ul class="menu">
            <li><a href="#">Trang chủ</a></li>
            <li class="dropdown">
                <a href="#">Thể loại</a>
                <ul class="dropdown-menu">
                    <li><a href="/anime-search?genreId=1">Hành động</a></li>
                    <li><a href="/anime-search?genreId=2">Adventure</a></li>
                    <li><a href="/anime-search?genreId=5">Avant Garde</a></li>
                    <li><a href="/anime-search?genreId=46">Award Winning</a></li>
                    <li><a href="/anime-search?genreId=28">Boys Love</a></li>
                    <li><a href="/anime-search?genreId=4">Comedy</a></li>
                    <li><a href="/anime-search?genreId=8">Drama</a></li>
                    <li><a href="/anime-search?genreId=10">Fantasy</a></li>
                    <li><a href="/anime-search?genreId=26">Girls Love</a></li>
                    <li><a href="/anime-search?genreId=47">Gourmet</a></li>
                    <li><a href="/anime-search?genreId=14">Horror</a></li>
                    <li><a href="/anime-search?genreId=7">Mystery</a></li>
                    <li><a href="/anime-search?genreId=22">Romance</a></li>
                    <li><a href="/anime-search?genreId=24">Sci-Fi</a></li>
                    <li><a href="/anime-search?genreId=36">Slice of Life</a></li>
                    <li><a href="/anime-search?genreId=30">Sports</a></li>
                    <li><a href="/anime-search?genreId=37">Supernatural</a></li>
                    <li><a href="/anime-search?genreId=41">Suspense</a></li>
                </ul>
            </li>
            <li><a href="#">Season</a></li>
        </ul>
    </nav>
    <main>