body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-color: #393E46;
    margin: 0;
    padding: 0;
}
main{
    flex: 1;
}

.navbar{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin:0 0 10px 0;
}
.navbar img{
    width: 40px;
    height: 40px;
}
.navbar > ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}
.navbar a:hover{
    color: #83bcc27e;
    text-decoration: underline;
}
footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 10px 0 0 0;
}
/*dropdown style */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 15px;
    min-width: 300px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 20px;

    border-radius: 2px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu li a:hover {
    background: #f3f4f6;
}