.watch-card{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(
      rgba(20, 30, 48, 0.6), 
      rgba(36, 59, 85, 0.7)), url("bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.watch-card ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.watch-card ul li{
    list-style: none;
}
.watch-card .title{
    color: #29bf45;
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    margin: 10px 0;
}

.main-content{
    display: flex;
    gap: 25px;
}
.main-content .description p{
    overflow: auto;
    margin: 0;
    padding: 0;
}
.poster-wrapper{
    display: flex;
    flex-direction: column;
    flex: 0 0 150px;
    position: relative;
    overflow: hidden;
}
.poster-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.poster-wrapper .btn-play{
    display: block;
    position: absolute;
    top: 80%;
    width: 100%; /* in absolute position, it shrinks its size to content width*/
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    padding: 5px;
    border: none;
}
.description{
    color: #d1cfcf;
    margin-top:10px;
}
.description p{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
}